doctype html
html
    head
        title Cards
        meta(charset="utf-8")
        //meta(name="viewport" content="width=310")

        meta(name="description" content="")
        link(rel="image_src" href="/img/favicon.png")

        link(rel="icon" type="image/ico" href="/img/favicon.ico")



        //-
        meta(name="description" content="")
        link(rel="image_src" href="/img/favicon.png")

        meta(property="og:title" content="")
        meta(property="og:image" content="/img/favicon.png")
        meta(property="og:url" content="http://")
        meta(property="og:description" content="")

        meta(name="twitter:site" content="")
        meta(name="twitter:description" content="")
        meta(name="twitter:image:src" content="/img/favicon.png")
        meta(name="twitter:domain" content="http://")



        //- JS
        script(src="/js/jquery-1.11.2.min.js")
        script(src="/js/main.js")

        //- CSS
        link(href="/css/reset.css" rel="stylesheet")
        link(href="/css/main.css" rel="stylesheet")

    body

        block content
