extends ./_layout.jade

block content
	.modal_block.flip-container
		.flipper
			.front
				p.number 22
				.card
					h2 Title
					input(type="text")
			.back
				p.number 23
				.card
					h2 Title
					input(type="text")
